div, footer, header{
  border: 1px dashed red;
}




table, td, th {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

th {
  color: green;
  font-family: sans-serif, serif;
  padding: 5px;
}

tr:nth-child(odd) {background-color: #f2f2f2}
 
tr {
  font-family: Times New Roman, serif;
}

td {
  padding: 4px;
}

body {
  box-sizing: border-box;
  display: block;
  width: auto;
  max-height: 2000px;
  background: grey;
  margin: 0% 0% 0% 0%;
}

 body #wrapper {

  background-color: darkgreen;
  box-sizing: border-box;
  display: block;
  height: auto;
  /*border: 5px solid black;*/
  /*height: 1280px;
  width: 720px;*/
  padding: 1px;
  
}


#header {
  box-sizing: border-box;
  display: table;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  
}

#logo {
  color: blue;

  
 
  box-sizing: border-box;
}

#title {
  
  color: yellow;
  box-sizing: border-box;

}

#burger {
  color: red;
  box-sizing: border-box;
 
}


#wrapper #bigDiv {
  box-sizing: border-box;
  display: block;
  width: 98%;
  margin: 1px auto;
}

#wrapper #bigDiv #inputs {
  box-sizing: border-box;
  height: 20%;
  max-width: 100%;
  margin: 0% 0% 5px 0px;
  overflow: auto;
  max-height: 115px;
}

#wrapper #more {
  box-sizing: border-box;
  margin: 0% 0% 4px;
  padding: 2px;
}

#wrapper #moreMenuButton {
  font-weight: bold;
  border: 0 none;
  height: 24px;
  width: 25px;
  font-size: 20px;
}


body #footer form .lowbutton {
  background: darkred;
  float: left;
  width: 50%;
  box-sizing: border-box;
  display: block;
  
  height: 20%;
  
  font-size: 25px;
  font-weight: bold;
  color: white;
  
  border: 0 none;
}

#results {
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  max-height: 150px;
  overflow: auto;
}

#results table {
  box-sizing: border-box;
  width: inherit;
  overflow: auto;
}

#footer {
  box-sizing: border-box;
  height: 34px;
}

 body #footer form input.lowbutton:hover {
  background: crimson;
  color: yellow;
}

body #footer form input.lowbutton:last-of-type {
  float: right;
  border-left: 1px solid white;
}




#wrapper div.dice-container {
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 5px;
}

#wrapper .formInit, .formAddons {
  background: purple;
  box-sizing: border-box;
  width: 100%
}

#wrapper .countField {
  box-sizing: border-box;
  margin: auto 0px auto 10%;
  background: white;
  color: black;
  font-weight: bold;
  border: 0 none;
  width: 15%;
  height: 25px;
}

#wrapper .chosenDieType {
  margin: 0 2px 0 2%;
  width: 30%;
  height: 25px;
  text-align: center;
}

.formAddons [value='X'] {
  box-sizing: border-box;
  border: 1px solid black;
  font-weight: bold;
  background: red;
  float: right;
  margin: 0 35% 0 0;

}






